URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard,tabbedex
URxvt.scrollBar: False
URxvt.font: xft:Hack-Regular:pixelsize=15,xft:Symbola
URxvt.boldFont: xft:Hack-Bold:pixelsize=15:weight=bold,xft:Symbola
URxvt.italicFont: xft:Hack-RegularOblique:pixelsize=15:slant=italic,xft:Symbola
URxvt*transparent: true
URxvt.letterSpace: -4.5
URxvt*shading: 11
URxvt*saveLines: 12000

URxvt.tabbed.autohide: true
URxvt.tabbed.reopen-on-close: yes
URxvt.keysym.Control-Shift-h: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-l: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.tabbed.shading: 11
URxvt.tabbed.tabbar-fg: 0
URxvt.tabbed.tabbar-bg: 12
URxvt.tabbed.tab-fg: 6
URxvt.tabbed.tab-bg: 0
URxvt.tabbed.title: no
! special
*.foreground:   #c5d7dd
*.background:   #07090a
*.cursorColor:  #c5d7dd

! black
*.color0:       #0f1112
*.color8:       #ea92c6

! red
*.color1:       #d9e4e8
*.color9:       #b09ff6

! green
*.color2:       #d9e4e8
*.color10:      #4dbfd4

! yellow
*.color3:       #d9e4e8
*.color11:      #f2cdbf

! blue
*.color4:       #5a6467
*.color12:      #d3cdf7

! magenta
*.color5:       #7b898e
*.color13:      #7b898e

! cyan
*.color6:       #a3b5ba
*.color14:      #f8a4d5

! white
*.color7:       #d9e4e8
*.color15:      #fba87f
